/*login page*/
/* body {
  background: #f4f4f4;
}

.App {
  text-align: center;
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid rgb(15, 50, 90);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.column {
  flex: 1;
} */

/* .left-half {
  width: 100%;
  height: 100%;
  justify-content: space-between; */
/* padding: 30px 80px 30px 60px; */
/* } */

/* .input {
  display: block;
  width: 100%;
  border: none;
} */

/* .input-label {
  color: #838282;
  font-size: 18px;
  margin-top: 30px;
} */

/* .error {
  font-size: 10px;
  color: rgb(255, 71, 71);
}
img {
  width: 900px;
  height: 600px;
  object-fit: contain;
} */
.form-container {
  min-height: 100vh;
  display: flex;
}

.rightSide {
  /* position: relative; */

  width: 50vw;

  /* border: 1px solid rgb(38, 201, 125); */
}
.leftSide {
  width: 50vw;
  /* border: 1px solid rgb(78, 8, 119); */
  /* position: relative; */
}
.loginInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* margin: 0rem 30rem 40rem 30rem; */
  /* align-items: center; */
  text-align: center;
  transform: translateX(50%);
  /* transform: translateY(-9%); */
}
